<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>
<div class="well">
  <h2>测试方法更新</h2>
  <p>之前的方法需要测试者掐秒表，实在是浪费大家的时间，于是我又把测试机制修改了。用JavaScript代劳了。新的测试方法很简单：
  </p>
  <ol>
    <li>点击下面的“创建测试”。</li>
    <li>在新的页面里按要求填写表格，再单击“自动测试”按钮。单击后测试就开始了，时间可能会比较久，反正下面就不需要人工干预了，只要把网页开在那里跑就行了 ：）</li>
  </ol>
  <p>自动测试会自动下载标准测试文件，再将其上传，两个步骤都会计时。</p>
</div>
<br />
<%= link_to "创建测试", new_apk_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped hide">
  <thead>
  <tr>
    <th>File Name</th>
    <th>Size</th>
  </tr>
  </thead>

  <tbody>
  <% @apks.each_with_index do |apk, index| %>

      <tr>
        <% if apk.file.path %>
            <td><%= File.basename(apk.file.path) %></td>
        <% else %>
            <td>NA</td>
        <% end %>
        <td><%= apk.file.size/1000000.0 %> MB</td>
      </tr>

  <% end %>
  </tbody>

</table>