<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />
<%= link_to "New Test", new_apk_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>File Name</th>
    <th>Size</th>
  </tr>
  </thead>

  <tbody>
  <% @apks.each_with_index do |apk, index| %>

      <tr>
        <% if apk.file.path %>
            <td><%= File.basename(apk.file.path) %></td>
        <% else %>
            <td>NA</td>
        <% end %>
        <td><%= apk.file.size/1000000.0 %> MB</td>
      </tr>

  <% end %>
  </tbody>

</table>