<div class = "well">
  <%= form_for @test do |f| %>
      <div class="form-group">
        <%= f.label :uid %>
        <%= f.text_field :uid %>
      </div>
      <%= f.submit "Invite", class: "btn btn-primary" %>
  <% end %>
</div>
